@media (min-width: 800px) {
  .aboutContainer {
    background-color: #333333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
  .aboutContainer .bio {
    font-family: Montserrat;
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
    line-height: 2em;
    width: 50%;
    color: #ffffff;
    padding: 3rem;
  }
  .aboutContainer .pointDownDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .aboutContainer .aboutNavText {
    font-family: Roboto;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    color: #ffffff;
    background-color: #f25f5c;
    padding: 1rem;
  }
}
@media (max-width: 800px) {
  .aboutContainer {
    background-color: #333333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
  }
  .aboutContainer .bio {
    font-family: Montserrat;
    letter-spacing: 0.1rem;
    font-size: .9rem;
    line-height: 2em;
    color: #ffffff;
    width: auto;
    padding: 2rem;
  }
  .aboutContainer .pointDownDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .aboutContainer .aboutNavText {
    font-family: Roboto;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #ffffff;
    background-color: #f25f5c;
    padding: 1rem;
  }
}
