
//animated bouncy finger 




@media (min-width: 800px){
.resume{
	text-decoration: none;
	color:#333333;
	font-weight: bold;
	padding: .5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;

	&:hover{
		background-color: #fff;
		color: #F25F5C;
	}
}

	.buttonContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;

		.button{
			text-decoration: none;
			background-color:#fff;
			color: #333333;
			font-size: 3rem;
			padding: .5rem;
			padding-right: 1rem;
			border-radius: 55%;
			padding-left: 1rem;
			cursor: pointer;

			margin: 1rem;
			&:hover{
				background-color: #F25F5C;
				color:#FFF;
			}

		}


	}

	.pointDown{
  font-size: 2.5rem;
  padding-left: 1rem;
  cursor: pointer;
    -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;


   &:hover{
   		background: linear-gradient(95deg, #ff8a40, #fd5068, #dc4588);
			background-size: 200% 200%;              
			-webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
   }
}


	.aboutContainer{
		   
		    background-color: rgb(51, 51, 51);
		    color: rgb(255, 255, 255);
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: space-evenly;
		    height: 100%;

		.bio{
			    font-family: Montserrat;
			    letter-spacing: 0.2rem;
			    font-size: 1.1rem;
			    line-height: 2em;
			    width: 50%;
			    color: rgb(255, 255, 255);
			    padding: 3rem;
		}

	

		.pointDownDiv{
			    display: flex;
			    flex-direction: row;
			    align-items: center;
			    justify-content: space-between;

		}

		.aboutNavText{
			    font-family: Roboto;
			    font-size: 1.3rem;
			    letter-spacing: 0.3rem;
			    color: rgb(255, 255, 255);
			    background-color: rgb(242, 95, 92);
			    padding: 1rem;
		}

	}
	
}




@media (max-width: 800px) {

	.resume{
	text-decoration: none;
	color:#333333;
	font-weight: bold;	
}

.buttonContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;

		.button{
			text-decoration: none;
			background-color:#fff;
			color: #333333;
			font-size: 2rem;
			padding: .5rem;
			padding-right: 1rem;
			border-radius: 55%;
			padding-left: 1rem;
			cursor: pointer;

			margin: 1rem;
			&:hover{
				background-color: #F25F5C;
				color:#FFF;
			}

		}


	}


.pointDown{
		display: none;
	}

		.aboutContainer{
			
		    background-color: rgb(51, 51, 51);
		    color: rgb(255, 255, 255);
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: space-evenly;
			 height: auto;
		   
		.bio{
			   font-family: Montserrat;
			    letter-spacing: 0.1rem;
			    font-size: .85rem;
			    line-height: 2em;
			    color: rgb(255, 255, 255);
			    width: auto;
			    padding: 2rem;
		}

	

		.pointDownDiv{
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    margin-bottom: 2rem;

		}

		.aboutNavText{
			    font-family: Roboto;
			    font-size: 1rem;
			    letter-spacing: 0.3rem;
			    color: rgb(255, 255, 255);
			    background-color: rgb(242, 95, 92);
			    padding: 1rem;
		}



	}

}


@media(max-width:600px){


		.button{
			text-decoration: none;
			background-color:#fff;
			color: #333333;
			font-size: 2rem;
			padding: .5rem;
			padding-right: 1rem;
			border-radius: 55%;
			padding-left: 1rem;
			cursor: pointer;

			margin: 1rem;
			&:hover{
				background-color: #F25F5C;
				color:#FFF;
			}

		}
	.aboutContainer{
			
		    background-color: rgb(51, 51, 51);
		    color: rgb(255, 255, 255);
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: space-evenly;
			 height: auto;
		   
		.bio{
			   font-family: Montserrat;
			    letter-spacing: 0.1rem;
			    font-size: .85rem;
			    line-height: 2em;
			    color: rgb(255, 255, 255);
			    width: auto;
			    padding: 2rem;
		}
	}
	.pointDown{
		display: none;
	}

		.pointDownDiv{
			   	    display: flex;
			    align-items: center;
			    justify-content: center;
			    margin-bottom: 2rem;


		}

		.aboutNavText{
			    font-family: Roboto;
			    font-size: .8rem;
			    letter-spacing: 0.2rem;
			    color: rgb(255, 255, 255);
			    background-color: rgb(242, 95, 92);
			    padding: 1rem;
			    margin-bottom: 3rem;
		}
}

