


@media (min-width: 800px){
	.aboutContainer{
		   
		    background-color: rgb(51, 51, 51);
		    color: rgb(255, 255, 255);
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: space-evenly;
		    height: 100%;

		.bio{
			    font-family: Montserrat;
			    letter-spacing: 0.2rem;
			    font-size: 1.1rem;
			    line-height: 2em;
			    width: 50%;
			    color: rgb(255, 255, 255);
			    padding: 3rem;
		}

	

		.pointDownDiv{
			    display: flex;
			    flex-direction: row;
			    align-items: center;
			    justify-content: space-between;

		}

		.aboutNavText{
			    font-family: Roboto;
			    font-size: 1.3rem;
			    letter-spacing: 0.3rem;
			    color: rgb(255, 255, 255);
			    background-color: rgb(242, 95, 92);
			    padding: 1rem;
		}

	}
	
}




@media (max-width: 800px) {
		.aboutContainer{
			
		    background-color: rgb(51, 51, 51);
		    color: rgb(255, 255, 255);
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: space-evenly;
			    height: auto;
		   
		.bio{
			   font-family: Montserrat;
			    letter-spacing: 0.1rem;
			    font-size: .9rem;
			    line-height: 2em;
			    color: rgb(255, 255, 255);
			    width: auto;
			    padding: 2rem;
		}

	

		.pointDownDiv{
			    display: flex;
			    flex-direction: row;
			    align-items: center;
			    justify-content: space-between;

		}

		.aboutNavText{
			    font-family: Roboto;
			    font-size: 1rem;
			    letter-spacing: 0.2rem;
			    color: rgb(255, 255, 255);
			    background-color: rgb(242, 95, 92);
			    padding: 1rem;
		}


	}

}

