/*
*
* CONTACT -- pointy finger styles
*
*/
.pointy {
  font-size: 2em;
  cursor: pointer;
  padding-left: 87%;
  color: #FFF;
}
.pointy:hover {
  background: linear-gradient(95deg, #ff8a40, #fd5068, #dc4588);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer {
  width: auto;
  display: inline-block;
  padding-left: 40%;
  margin: 0;
}
.footer .cog {
  display: inline-block;
  margin-right: 2%;
}
.footer .smallText {
  font-family: Montserrat;
  font-size: 80%;
  display: inline-block;
}
