/*
*
* NAVBAR 
*
*/
.navbar{
	background-color: #FFF;
	width: 100%;
	position: fixed;
	height: auto;

    z-index: 99;
  	display: flex;
  	flex-flow: row;
  	justify-content: space-between;


	  


  	.nameTitle{
  		display: flex;
  		flex-direction: row;
  		justify-content: space-between;
  		align-items: center;
  		flex-wrap: nowrap;
  		padding-right: 1rem;
  		 padding-left: 1rem;
       color: #333333;

  	.navPic{
  		width: 2rem;
  		height: 2rem;
  		border-radius: 50%;
  		margin-right: 1rem;
	 }


            font-family: 'Montserrat';
              font-size: 1.2em;
              cursor:pointer;


            }

        	.nameSelect{
				          color: #FFF;
           			 background-color: #F25F5C;

				}


	.navlink{
		color: #FFF;
		font-family: 'Montserrat';
		font-size: 1.2em;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding-right: 5%;

		.links{
			// background: linear-gradient(95deg, #ff8a40, #fd5068, #dc4588);
			// background-size: 200% 200%;              
			// -webkit-background-clip: text;
   //          -webkit-text-fill-color: transparent;
   color: #333333;
			padding: 1rem;

			&:hover{
				cursor: pointer;
   				background: #F25F5C;
            -webkit-text-fill-color: #FFF;




			}
		}

		.selected{
			background: #F25F5C;
            -webkit-text-fill-color: #FFF;

		}

	}

  }

