@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i|Space+Mono:400,700,700i|Roboto|Montserrat:400,500,600,600i,700,800');
@base: linear-gradient(80deg, #ff8a40, #dc4588);



html, body{margin: 0;}

.navbar{
	background-color: #222;
	width: 100%;
	position: fixed;
	height: auto;
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
    z-index: 99;
  	display: flex;
  	flex-flow: row;
  	justify-content: space-between;

  	.nameTitle{
            font-family: 'Montserrat';
              font-size: 1.8em;
              background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);

              // background: @base;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              cursor: pointer;
				background-size: 400% 400%;
				-webkit-animation: Gradient 5s ease infinite;

              &:hover{
              -webkit-text-fill-color: #FFF;
              }
            }


	.navlink{
		color: #fff;
		font-family: 'Montserrat';
		font-size: 1.5em;
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		padding-right: 12%;	


		.links{
			margin-left: 10%;
			cursor: pointer;

			&:hover{
			background: @base;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
			}
		}

		.selected{
			background: @base;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
		}
	}

  }

  @-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



