



/*
*
* PROJECTS 
*
*/
 .project-container{
		background: #fff;
		color: black;
		font-family: Montserrat;
		font-size: 1.3rem;
		overflow: scroll;
		overflow-x:hidden;
		width: 100%;


 	 .pic{
	  width: 16em;
	    height: 12em;
	    border: 2px solid black;
	}


.hamburgerClick{
	width: 100vw;
}


.descText{
		line-height: 2rem;
		letter-spacing: .1rem;
		font-family: Montserrat;
		color: #333333;
		font-size: .8rem;
		padding: 1.5rem;
	  }



//tags that go inside a project row description 
	  .skillTags{
	  		display: flex;
	  		flex-direction: row;
	  		justify-content: flex-start;
	  		flex-wrap: wrap;

	  	.tag{
	  		width: auto;
	  		background-color:#333333;
	  		color:#FFF;
	  		padding: .7rem;
	  		font-size: .7rem;
	  		margin: .5rem;
	  	}

	 }



	a{
 		text-decoration: none;
 		border: 2px solid #FFF;
 		background-color: #FFF;
 		color:#333333;
 		&:hover{
 			color: red;
 		}
 	}



}

.clicked{
	background-color: #333333;
	color:#fff;

}



		.skill{
				text-align: center;
					width: auto;
					border: 2px solid black;
					border-radius: 5%;
					padding: .4rem;
					font-size: .7rem;
					margin-right: .5rem;
					margin-bottom: .3rem;
					cursor: pointer;
				}










//belongs to about section -- move 



@media (min-width: 1000px){
.projectTitle{
	font-size: 2rem;
	padding: 1rem;
	font-family: Roboto;
	letter-spacing: .2rem;
	background-color: #333333;
	color: #fff;

}

//text that's visible if nothing is there
.chooseText{
	margin-left: 10%;
	margin-top: 10%;
}



	.toolContainer{
		height: auto;
		color: black;
		font-size: 1rem;
		background-color: #FFF;
		font-family: Montserrat;
		white-space: nowrap;
		padding-top: 3%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 5%;
		padding-left: 3%;
		width:20%;


	.skillSection{
		margin-bottom: 5rem;
	}

	.section{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-align: center;
		flex-wrap: wrap;
	}




	.sectionTitle{
		font-size: 1rem;
		padding-bottom: 1rem;
		text-align: center;
	}
	}
	
	#projects{
	display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;

	}

	.picRow{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.picHolder{
	 	display: flex;
	 	flex-direction: column;
	 	align-items: flex-end;
	 	padding: 2%;
	 	margin-right: 3rem;

	 
	}

	.description{

	margin-right: 1rem;
	width: 25em;
	padding: 1rem;
	background-color: #FFF;
	
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  align-items: center;
	  overflow: auto;
	}

}


@media (max-width: 1000px) {

	//text that's visible if nothing is there
.chooseText{
	padding: 5%;
}

	.projectTitle{
	font-size: 1.5em;
	padding: 1rem;
	margin-top:1.5rem;
	font-family: Roboto;
	letter-spacing: .2rem;
	background-color: #333333;
	color: #fff;

}


	.toolContainer{
		padding: 2rem;

		height: auto;
		color: black;
		font-size: 1rem;
		background-color: #FFF;
		font-family: Montserrat;
		display: flex;
		flex-direction: row;
		justify-content: center;
				flex-wrap: wrap;
 			overflow:visible !important;

	.skillSection{
		padding-right: 3rem;
		padding-bottom: .5rem;
	}


	.section{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-align: center;
		flex-wrap: wrap;
	}




	.sectionTitle{
		font-size: 1rem;
		text-align: center;
	}
		
	}

		#projects{
			height: auto;
			width:100%;
			display: flex;
				flex-direction: column;
		}

		.toolContainer{
			width: 100%;
		}

		.picRow{
			display: flex;
			flex-direction: column;
			align-items: center;
			 	justify-content: center;
			 margin-top: 1rem;
		}

			.picHolder{
			 	display: flex;
			 	flex-direction: column;
			 	align-items: center;
			 	justify-content: center;
			 
	 
	}

	.description{

	 width: 80%;
	 padding: 3rem;
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  align-items: center;
	}

}