@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i|Space+Mono:400,700,700i|Roboto|Montserrat:400,500,600,600i,700,800');
/*
* 
* Shared, namespaced styles compiled by grunt for the navbar and contact components. opted against inline styles 
* since these components involve some animation
*
*/
html,
body {
  margin: 0;
}
/*
*
* HEADER -- Chevron styles / animation
*
*/
#chevronHolder {
  width: auto;
  height: auto;
  font-size: 100px;
  margin-left: 50%;
  padding-top: 35%;
  cursor: pointer;
}
#chevronHolder:hover .chevron {
  margin-top: -30px;
  border-width: 0.1em 0.1em 0 0;
  color: #FFF;
}
#chevronHolder .chevron:before {
  border-style: solid;
  border-width: 0.02em 0.02em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
  padding-top: -5em;
  transform: rotate(135deg);
}
#chevronHolder .chevron {
  margin-top: -40px;
}
#chevronHolder .blue {
  color: #247BA0;
}
#chevronHolder .red {
  color: #F25F5C;
}
#chevronHolder .yellow {
  color: #FFE066;
}
/*
*
* NAVBAR 
*
*/
.navbar {
  background-color: #FFF;
  width: 100%;
  position: fixed;
  height: auto;
  z-index: 99;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.navbar .nameTitle {
  font-family: 'Montserrat';
  font-size: 1.4em;
  cursor: pointer;
  background: linear-gradient(130deg, #F25F5C, #FFE066);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 5%;
  padding-right: 10%;
  padding-top: 1rem;
  padding-bottom: 1%;
  white-space: nowrap;
}
.navbar .nameTitle:hover {
  cursor: pointer;
  background: #F25F5C;
  -webkit-text-fill-color: #FFF;
}
.navbar .nameSelect {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #FFF;
  background: #F25F5C;
}
.navbar .navlink {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 5%;
}
.navbar .navlink .links {
  background: linear-gradient(95deg, #ff8a40, #fd5068, #dc4588);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
}
.navbar .navlink .links:hover {
  cursor: pointer;
  background: #F25F5C;
  -webkit-text-fill-color: #FFF;
}
.navbar .navlink .selected {
  background: #F25F5C;
  -webkit-text-fill-color: #FFF;
}
/*
*
* PROJECTS 
*
*/
.project-container {
  background: #247BA0;
  color: #FFF;
  font-family: Montserrat;
  font-size: 1.3rem;
  padding: 5%;
  overflow: scroll;
  height: auto;
}
.project-container .pic {
  width: 22em;
  height: 12em;
  border: 2px solid black;
}
.project-container .text {
  font-family: Roboto;
  line-height: 180%;
  padding: 5%;
  display: none;
}
.project-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  font-family: Space Mono;
  opacity: 0;
  line-height: 200%;
  font-size: .8em;
  overflow-y: scroll;
}
.project-container .overlay:hover {
  opacity: .87;
}
.project-container .picHolder {
  background-color: black;
  width: 10em;
  height: 10em;
}
.project-container .picHolderMedium {
  margin: 5%;
  background-color: black;
  position: relative;
  width: 16em;
  height: 10em;
}
.project-container .thinpic {
  width: 10em;
  height: 10em;
  border: 2px solid black;
}
.project-container .mediumpic {
  width: 16em;
  height: 10em;
  border: 2px solid black;
}
.clicked {
  background-color: #FFF;
  color: #333333;
}
.skill {
  text-align: center;
  width: auto;
  border: 2px solid #FFF;
  border-radius: 5%;
  padding: .7rem;
  font-size: 1rem;
  margin-rght: .5rem;
  margin-bottom: .3rem;
  cursor: pointer;
}
/*
*
* CONTACT -- pointy finger styles
*
*/
.pointy {
  font-size: 2em;
  cursor: pointer;
}
.pointy:hover {
  background: linear-gradient(95deg, #ff8a40, #fd5068, #dc4588);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
