@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i|Space+Mono:400,700,700i');
html {
  margin: 0;
}
html body {
  margin: 0;
  background-color: #222;
}
html body #col {
  float: none;
  margin: 0 auto;
}
html body #text {
  margin: 5% auto;
}
html body #text .headline {
  color: #FFF;
  padding-bottom: 3em;
  border-bottom: .1em solid #FFF;
}
html body #text .headline #title {
  white-space: nowrap;
  font-family: 'Space Mono';
  font-weight: 200;
  padding-left: 1px;
  cursor: pointer;
}
html body #text .headline #title:before {
  content: 'rekha tenjarla';
  position: absolute;
  opacity: .6;
  color: #0ff;
  z-index: -5;
  animation: glitch-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 3;
}
html body #text .headline #title:after {
  top: 0;
  display: block;
  content: 'rekha tenjarla';
  position: absolute;
  opacity: .6;
  color: #f0f;
  z-index: -2;
  animation: glitch-left-2 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 3;
}
html body #text .headline #title:hover:before {
  animation: glitch-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
html body #text .headline #title:hover:after {
  animation: glitch-left-2 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}
html body #text .headline #title::selection {
  background-color: #29FCA5;
  color: #222;
}
@keyframes glitch-left {
  0% {
    transform: translate(0);
  }
  33% {
    transform: translate(-5px, 3px);
  }
  66% {
    transform: translate(5px, -3px);
  }
  to {
    transform: translate(0);
  }
}
@keyframes glitch-left-2 {
  0% {
    transform: translate(0);
  }
  33% {
    transform: translate(-5px, -3px);
  }
  66% {
    transform: translate(5px, 2px);
  }
  to {
    transform: translate(0);
  }
}
html body #text .headline #byline {
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Anonymous Pro';
  font-weight: 300;
  color: #5AE8FD;
  user-select: none;
}
html body #text .headline #byline #mostly {
  color: #FD5AE8;
  width: auto;
  display: inline-block;
}
html body #text #description {
  line-height: 2em;
  margin-top: 1%;
  color: #FFF;
  margin-top: 2%;
  display: block;
  font-family: 'Space Mono';
  font-weight: 200;
  user-select: none;
  padding-left: 2%;
}
html body #text #description .links {
  display: inline-block;
  background-color: #29FCA5;
  color: #222;
  font-weight: 300;
  cursor: pointer;
}
html body #text #description .links:hover {
  text-decoration: none;
}
@media only screen and (min-width: 800px) {
  html #text .headline {
    width: 70%;
  }
  html #text .headline #title {
    font-size: 62px;
  }
  html #text .headline #byline {
    font-size: 35px;
  }
  html #text #description {
    font-size: 25px;
    border-left: .4em solid #FFF;
    width: 70%;
  }
}
@media only screen and (max-width: 800px) {
  html #text {
    margin-left: 2%;
  }
  html #text .headline {
    width: 85%;
  }
  html #text .headline #title {
    font-size: 40px;
  }
  html #text .headline #byline {
    font-size: 25px;
  }
  html #text #description {
    font-size: 17px;
    border-left: 7px solid #FFF;
    width: 85%;
  }
}
