@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Rubik:500');

html{
	margin: 0px;
	
    body{
	
    background: -webkit-linear-gradient(45deg, #FD6F46 10%, #FB9832 90%); /* Chrome 10+, Saf5.1+ */ 
    font-family: 'Rubik', sans-serif;
    color: #FFF;

#container{
  svg{
       position: fixed;
        left: 95%;
        top: 30%;
    circle{
        stroke-width: 1.5;
        cursor: pointer;
     
    }
  }
    
    .name{
        margin-left: 30%;
        margin-top: 17%;
        font-size: 75px;
        font-weight: 800;
    }
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  
  border-top: 40px solid #FFF;

  position: fixed; 
  left: 45%;
  top: 75%;
  cursor:pointer;

-webkit-animation: bounce 2s;

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// &:hover{

 

//   -moz-animation: diff 2s;
//   -webkit-animation: diff 2s;
//   animation: diff 2s;

//   @keyframes diff {
//     0% { border-radius: 0px; } 
//     100%{ border-radius: 50%; border: 5px solid #FFF;}
// }






}



}
}