@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i|Space+Mono:400,700,700i|Roboto|Montserrat:400,500,600,600i,700,800');
/*
* 
* Shared, namespaced styles and media queries
*
*/
html,
body {
  margin: 0;
  overflow-x: hidden;
}
@media (max-width: 600px) {
  .links {
    display: none;
  }
  .lines {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    color: #F25F5C;
    font-size: 3.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .lines .navbar {
    background-color: #F25F5C;
  }
  .lines:hover {
    color: #FFF;
    cursor: pointer;
    background-color: #F25F5C;
  }
  .nameTitle {
    font-size: 1rem;
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
